node_modules
dist

# Python / Django
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
*.egg
.env
.venv
venv/
ENV/
invoice_backend/db.sqlite3
invoice_backend/media/
invoice_backend/staticfiles/
*.log
